.home{
    background-image: url('https://1.bp.blogspot.com/-PfulgSmj2TA/X3CH6UMg1GI/AAAAAAAANEM/Ke7eJLNcMcci_O8JqzLFvJUIKIm_dzWTwCPcBGAsYHg/s700/Pokemon%2BWallpaper%2B2880x1800_11.jpg');
    width: 100%;
    height: 100vh;
    margin: 0%;
    padding: 0%
}
.titulo{
    color: rgb(238, 37, 6);
}